<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PTModelSprite_ID6984</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0}, {1280, 720}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {1280, 720}}</string>
                <key>sourceSize</key>
                <string>{1280, 720}</string>
            </dict>
            <key>PTModelSprite_ID6968</key>
            <dict>
                <key>frame</key>
                <string>{{0, 724}, {1280, 720}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {1280, 720}}</string>
                <key>sourceSize</key>
                <string>{1280, 720}</string>
            </dict>
            <key>PTModelSprite_ID7492</key>
            <dict>
                <key>frame</key>
                <string>{{1284, 0}, {418, 609}}</string>
                <key>offset</key>
                <string>{-16, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{69, 48}, {418, 609}}</string>
                <key>sourceSize</key>
                <string>{587, 707}</string>
            </dict>
            <key>PTModelSprite_ID7491</key>
            <dict>
                <key>frame</key>
                <string>{{1284, 724}, {421, 609}}</string>
                <key>offset</key>
                <string>{-16, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{67, 48}, {421, 609}}</string>
                <key>sourceSize</key>
                <string>{587, 707}</string>
            </dict>
            <key>PTModelSprite_ID7540</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1448}, {490, 562}}</string>
                <key>offset</key>
                <string>{37, -3}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{264, 97}, {490, 562}}</string>
                <key>sourceSize</key>
                <string>{944, 751}</string>
            </dict>
            <key>PTModelSprite_ID7541</key>
            <dict>
                <key>frame</key>
                <string>{{494, 1448}, {503, 542}}</string>
                <key>offset</key>
                <string>{-2, -27}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{219, 131}, {503, 542}}</string>
                <key>sourceSize</key>
                <string>{944, 751}</string>
            </dict>
            <key>PTModelSprite_ID7542</key>
            <dict>
                <key>frame</key>
                <string>{{1001, 1448}, {529, 505}}</string>
                <key>offset</key>
                <string>{-25, -53}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{183, 176}, {529, 505}}</string>
                <key>sourceSize</key>
                <string>{944, 751}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>atlas_ID6955.png</string>
            <key>size</key>
            <string>{2048, 2048}</string>
            <key>smartupdate</key>
            <string>$Potion:Smartupdate:$</string>
            <key>textureFileName</key>
            <string>atlas_ID6955.png</string>
        </dict>
    </dict>
</plist>
