<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PTModelSprite_ID6901</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0}, {920, 805}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {920, 805}}</string>
                <key>sourceSize</key>
                <string>{920, 805}</string>
            </dict>
            <key>PTModelSprite_ID6895</key>
            <dict>
                <key>frame</key>
                <string>{{924, 0}, {920, 805}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {920, 805}}</string>
                <key>sourceSize</key>
                <string>{920, 805}</string>
            </dict>
            <key>PTModelSprite_ID6923</key>
            <dict>
                <key>frame</key>
                <string>{{0, 809}, {1300, 775}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {1300, 775}}</string>
                <key>sourceSize</key>
                <string>{1300, 775}</string>
            </dict>
            <key>PTModelSprite_ID7490</key>
            <dict>
                <key>frame</key>
                <string>{{1304, 809}, {425, 609}}</string>
                <key>offset</key>
                <string>{-17, 2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{64, 47}, {425, 609}}</string>
                <key>sourceSize</key>
                <string>{587, 707}</string>
            </dict>
            <key>PTModelSprite_ID7543</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1588}, {574, 450}}</string>
                <key>offset</key>
                <string>{-49, -84}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{136, 234}, {574, 450}}</string>
                <key>sourceSize</key>
                <string>{944, 751}</string>
            </dict>
            <key>PTModelSprite_ID7544</key>
            <dict>
                <key>frame</key>
                <string>{{578, 1588}, {664, 367}}</string>
                <key>offset</key>
                <string>{-81, -133}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{59, 325}, {664, 367}}</string>
                <key>sourceSize</key>
                <string>{944, 751}</string>
            </dict>
            <key>PTModelSprite_ID7545</key>
            <dict>
                <key>frame</key>
                <string>{{1246, 1588}, {689, 326}}</string>
                <key>offset</key>
                <string>{-92, -156}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{36, 368}, {689, 326}}</string>
                <key>sourceSize</key>
                <string>{944, 751}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>atlas_ID6883.png</string>
            <key>size</key>
            <string>{2048, 2048}</string>
            <key>smartupdate</key>
            <string>$Potion:Smartupdate:$</string>
            <key>textureFileName</key>
            <string>atlas_ID6883.png</string>
        </dict>
    </dict>
</plist>
